@use "../../styles/settings" as *;

.section {
  &__container {
    @include container;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  &__content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 100%;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    & {
      text-align: right;
    }
  }

  &__idee {
    #uuid-883636d6-2087-430d-94d5-c2a1297cf8a2 {
      > path {
        opacity: 0;

        transition: all 400ms ease-out 0ms;
      }
    }

    &--active #uuid-883636d6-2087-430d-94d5-c2a1297cf8a2 {
      > path {
        opacity: 1;

        @for $i from 1 through 30 {
          &:nth-child(#{$i}) {
            transition: all 400ms ease-out #{350 + 50 * (30 - $i)}ms;
          }
        }
      }
    }
  }

  &__svg-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    min-width: 400px;
    overflow: hidden;
    position: relative;

    &-item {
      min-width: 400px;
    }

    &-inner {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;

      &--icon {
        right: 105px;
        top: 155px;
        z-index: 4;

        svg {
          clip-path: polygon(
            22% 0,
            35% 0%,
            100% 30%,
            110% 40%,
            81% 105%,
            68% 100%,
            25% 78%,
            -10% 61%
          );
          transition: all 600ms $animation-bubble;

          #uuid-be92703e-a313-4d29-8c15-671aba953db1 {
            transition: all 600ms $animation-bubble;
          }
        }

        &:hover {
          cursor: pointer;

          svg {
            transition: all 600ms $animation-bubble;
            transform: translateY(-20px) !important;

            #uuid-be92703e-a313-4d29-8c15-671aba953db1 {
              transition: all 600ms $animation-bubble;
              opacity: 0;
            }
          }
        }
      }

      svg {
        width: 100%;
      }
    }
  }
}
