@use "../../styles/settings" as *;

.aristobyte-ui {
  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 100px;
    width: 100%;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    & {
      max-width: 400px;
      text-align: right;
    }
  }
}
