@use "../../styles/settings" as *;

$car-position: 500px;

.home {
  border-top: 1px solid linear-gradient();
  height: calc(100vh - $header-height);
  overflow: hidden;

  &__container {
    @include container;
    & {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
  }
}
