@use "../../styles/settings" as *;

.apps-preview {
  &__container {
    @include container;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    max-width: 550px;
  }

  &__phones {
    display: flex;
    background-color: $black-flat-color;
    border-radius: $border-radius-standard;
    height: 500px;
    position: relative;
    margin: 30px auto 0 auto;
    max-width: 800px;

    &::after {
      background: $logo-gradient;
      border-radius: $border-radius-small;
      -webkit-box-shadow: 0px 0px 27px 3px $logo-color-3;
      -moz-box-shadow: 0px 0px 27px 3px $logo-color-3;
      box-shadow: 0px 0px 27px 3px $logo-color-3;
      content: "";
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.015);
      transition: all 600ms $animation-bubble;
      width: 100%;
    }

    &:hover {
      &::after {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transform: translate(-50%, -50%) scale(0.9);
      }

      .apps-preview__link-container {
        opacity: 1;
      }

      .apps-preview__link {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    &-container {
      @include regularShadow;
      & {
        background-color: $black-color;
        border-radius: $border-radius-small;
        height: calc(100% - 20px);
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 10px;
        width: calc(100% - 20px);
        z-index: 2;
      }
    }
  }

  &__list {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:
      "a d g j m" 1fr
      "b e h k n" 1fr
      "c f i l ." 1fr / 140px 140px 140px 140px 140px;
    grid-gap: 10px;
    transform: rotate(-35deg) translate(120px, -170px) scale(1.3);
    position: relative;
    z-index: 1;
  }

  &__item {
    @include regularShadow;

    & {
      pointer-events: none;
      transition: all 600ms $animation-bubble;
    }

    img {
      width: 100%;
    }

    &--0 {
      grid-area: a;
    }

    &--1 {
      grid-area: b;
    }

    &--2 {
      grid-area: c;
    }

    &--3 {
      grid-area: d;
    }

    &--4 {
      grid-area: e;
    }

    &--5 {
      grid-area: f;
    }

    &--6 {
      grid-area: g;
    }

    &--7 {
      grid-area: h;
    }

    &--8 {
      grid-area: i;
    }

    &--9 {
      grid-area: j;
    }

    &--10 {
      grid-area: k;
    }

    &--11 {
      grid-area: l;
    }

    &--12 {
      grid-area: m;
    }

    &--13 {
      grid-area: n;
    }
  }

  &__link-container {
    align-items: center;
    background-color: $black-flat-color-opacity;
    display: flex;
    justify-content: center;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 600ms $animation-bubble;
    width: 100%;
    z-index: 2;
  }

  &__link {
    @include button;
    & {
      opacity: 0;
      transform: translate(0, 20px);
      transition: all 600ms $animation-bubble;
    }
  }
}
